%message {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
}

.success {
	@extend %message;
	background-color: #CCFFE5;
}

.primary {
	@extend %message;
	background-color: #CCFFFF;
}

.failure {
	@extend %message;
	background-color: #FFCCCC;
}