{% extends "layout.html" %}

{% block body %}
<h1>First Page</h1>
<p>
西湖晚归回望孤山寺赠诗客

Returning Late on West Lake and Gazing Back at Lonely Hill Temple (for my guests)


柳湖松岛莲花寺 
晚动归桡出道场 
卢橘子低山雨重 
棕榈叶战水风凉	
Willows, lake, pines, island, lotus flower temple. 
It is late as I row away from holy ground. 
Ripe cumquats along the shore. Heavy rain. 
Wet palm leaves tremble in the gentle wind.

烟波澹荡瑶空碧 
楼殿参差倚夕阳 
到岸请君回首望 
蓬莱宫在海中央	
On smoky waves, I gently row, beneath a dark blue sky. 
Rambling temple roofs lean against the rising dark. 
Reaching the shore, one last backward longing look 
At the palace of the perfect man, rising from the waters.
</p>
{% endblock %}
