{% extends "layout.html" %}

{% block body %}
<h1>Third Page</h1>
<p>感鹤

Feeling Like a Crane

鹤有不群者 
飞飞在野田 
饥不啄腐鼠 
渴不饮盗泉	
Well, here's a crane without a flock -- 
Flying, always flying, to rest in wild fields. 
To keep from starving, he pecks at decaying mice. 
To stave off thirst, he steals a drink where he can.

贞姿自耿介 
杂鸟何翩翩 
同游不同志 
如此十馀年	
Chaste and handsome, by nature upright and honest, 
Compared to other birds, how graceful he is. 
Like them, he wanders, but with different aspirations. 
And he's been this way ten years or more.

一兴嗜欲念 
遂为矰缴牵 
委质小池内 
争食群鸡前	
He rises, addicted to the desire 
To pull against the hand that holds him back. 
His proud swagger fills the small ponds he lights in, 
As he tries to eat before the local chickens get it all.

不惟怀稻梁 
兼亦竞腥羶 
不惟恋主人 
兼亦狎乌鸢	
He yearns for paddies ripe with rice 
As he struggles with the smell of rotten fish. 
He yearns to find his right master 
As he struggles with the crowd of crows and kites.

物心不可知 
天性有时迁 
一饱尚如此 
况乘大夫轩	
No one can really know his wild heart. 
His nature is, well, changeable. 
Even when he's well-fed, he'd rather remain like this 
Than perch up high on some Imperial pavilion.
</p>
{% endblock %}